*{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

body{
  margin: 2% 15%;
}

input {
  color: white;
  width: 100%;
  font-size: 1.2rem;
}


.card-grid {
  margin-top: 8vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #49afa8;
  padding: 50px 15vh;
  padding-left: 22vh;
  border-radius: 10px;
}

.card {
  align-content: center;
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 12px;
  overflow: hidden;
  text-align: center;
  width: 20%;
  height: 18vh;
  z-index: 0;
}


.card img {
  max-height: 170px;
  padding: 10px;
}

.card p {
  margin: 0 auto;
  text-align: center;
}


.addNew {
  font-size: 100px;
  border: 1px dashed grey ;
  z-index: 0;
  text-align: center;
}

.addNewText {
  font-size: 1rem;
}
.field {
  width: 85%;
  margin: 0px auto;
  background: #49afa8;
  padding-bottom: 25px;
  border-radius: 10px;
  margin-top: 2vh;
  font-weight: 700;
}

.field input {
  color: white;
  width: 95%;
  padding: 0.2vh 0;
}


.img-update {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.delete {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-right: 50px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.submitBtn {
  margin:  0 1vw;
  width: 30%;
  font-weight: 700;
  font-size: 1.2em;
  border-radius: 10px;
}

@media (max-width: 768px)  {
  .card-grid {
    padding: 5% 0; 
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .card {
    width: 45vw;
    height: 25vh;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .field {
    width: 90%;
    padding-bottom: 3vh;
    margin-top: 2vh;
  }  
  .field input {
    color: white;
    width: 95%;
    padding: 0.3vh 0;
  }
  .field p {
    font-size: 1.4em;
  }
  .buttons {
    justify-content: space-evenly;
  }
  .submitBtn {
    margin:  0 1vw;
    width: 30vw;
    padding: 0.7vh 0;
    font-size: 1.4em;
  }
}